/* 
  this class is a necc. wrapper for using bootstrap flex/grid classes.
  We customized it as a grid.
*/
.bootstrap-wrapper {
  display: grid;
  height: 100%;

  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: 13rem calc(100vw - 13rem);
  grid-template-areas:
    "sidebar header"
    "sidebar content";
    overflow: hidden;
}

:host /deep/ mat-toolbar {
  grid-area: header;
}

#sidebar-1 {
  grid-area: sidebar;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  overflow: auto;
  z-index: 10;
}
#sidebar-1 #sidebar-avatar {
  margin-top: 1rem;
}
#sidebar-1 #sidebar-avatar-img {
  width: 4rem;
  height: 4rem;
  margin: 0.5rem auto;
  display: block;
  background: grey;
  border-radius: 50%;
}
#sidebar-1 #sidebar-avatar-name {
  font-weight: normal;
  padding: 0 2rem;
  margin-bottom: 0.5rem;
}

:host /deep/ [dashboard-sidebar-content] {
  flex: 1;
  overflow: auto;
}

#content {
  grid-area: content;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}