:host {
  height: 100%;
}

.toolbar {
  background: transparent;
  font-size: 1rem;
  padding: 0 1rem !important;
  height: 50px;
}

.welcome {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 1rem !important;
}
.welcome h2 {
  font-weight: normal;
  margin: 0;
}
.welcome h1 {
  font-weight: 500;
  margin: 0;
  margin-bottom: 0.5rem;
}

.custom-row-1 {
  flex-direction: column;
  overflow: auto;
  flex-wrap: nowrap;
  height: calc(100vh - 50px);
}

form {
  max-width: 100% !important;
  width: 26rem !important;
  margin-bottom: 1rem;
  align-self: center;
  padding: 1rem !important;
  flex-direction: column;
  display: flex;
  align-items: center;
}

form .mat-form-field {
  font-size: 2rem;
  margin: 0rem 1rem;
  text-align: center;
}

form button {
  border-radius: 0;
  margin: 1rem auto;
  text-transform: uppercase;
  display: block;
}

form .custom-error {
  font-size: 75%;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

@media (max-width: 450px) {
  form {
    min-width: 20rem;
  }
}
