
/* 
  this class is a necc. wrapper for using bootstrap flex/grid classes.
  We customized it as a grid.
*/
.bootstrap-wrapper {
  display: grid;
  height: 100%;

  grid-template-rows: 50px calc(100% - 50px);
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
}

/* display the content as flexbox */
.custom-row-1 {
  flex-direction: column;
  overflow: auto;
  flex-wrap: nowrap;
}

#header {
  grid-area: header;
}

#sidebar-1 {
  grid-area: sidebar;
  flex-direction: column;
  flex-wrap: nowrap;
  min-width: 12rem;
  max-width: 14rem;
  height: 100%;
  overflow: auto;
}

#sidebar-1 .logo {
  margin: 1rem;
}

#sidebar-1 #sidebar-links {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  padding: 0.5rem;
}
#sidebar-1 #sidebar-links .icon-link {
  cursor: pointer;
}

#content {
  grid-area: content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top:3rem; 
}

#content #introduction {
  margin: 0 2rem;
} 

#content .table-container {
  padding: 0 0.2rem;
  margin: 1rem 2rem;
  flex: 1;
  min-height: 150px;
  max-height: max-content;
  overflow: auto;
}
#content #connect-web-account {
  margin: 1rem 2rem;
}
#content .empty-table {
  flex: 0;
  min-height: max-content;
}

table {
  width: 100%;
}
td,th {
  min-width: max-content;
  text-align: center !important;
  padding: 0 0.5rem !important;
}
td {
  white-space: nowrap;
}
tr:not(.mat-header-row) {
  cursor: pointer;
}
tr:not(.mat-header-row):hover {
  background: #00000014;
}

.account-items-container {
  flex-wrap: wrap;
}
.account-item img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.account-item span {
  text-decoration: underline;
}
.custom-account-item {
  padding: 0rem 0.5rem;
  padding-left: 0.1rem;
  margin: 0.5rem;
}
.custom-account-item img {
  margin-right: 0.5rem;
}
.custom-account-item span {
  text-decoration: none;
}
