:host {
  height: 100vh;
  display: block;
}

div[dashboard-sidebar-content] .logo {
  margin: 1rem;
}

#content {
  grid-area: content;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);;  /* fixes electron display height problem when vh is changed*/
}

#content #introduction {
  margin: 0 2rem;
} 

#content .table-container {
  padding: 0rem 1.2rem;
  padding-bottom: 0.5rem;
  max-width: max-content;
  margin: 1rem 2rem;
  flex: 1;
  min-height: 150px;
  max-height: max-content;
  overflow: auto;
}
#content #connect-web-account {
  margin: 1rem 2rem;
}
#content .empty-table {
  flex: 0;
  min-height: max-content;
}
#content #empty-table-message{
  margin: 1rem 2rem;
  text-align: center;
}

table {
  width: 100%;
}
td,th {
  min-width: min-content;
  max-width: max-content;
  text-align: center !important;
  padding: 0 0.5rem !important;
}
td {
  white-space: nowrap;
}
tr:not(.mat-header-row) {
  cursor: pointer;
}
tr:not(.mat-header-row):hover {
  background: #00000014;
}

.account-items-container {
  flex-wrap: wrap;
}
.account-item img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  vertical-align: middle;
}
.account-item span {
  text-decoration: underline;
}
.custom-account-item {
  padding: 0rem 0.5rem;
  padding-left: 0.1rem;
  margin: 0.5rem;
}
.custom-account-item img {
  margin-right: 0.5rem;
}
.custom-account-item span {
  text-decoration: none;
}