<div class="bootstrap-wrapper">
    <!-- sidebar -->
    <div id="sidebar-1" class="row no-gutters mat-elevation-z5 bg-lig-black">
        <div>
            <img class="logo" src="../../../assets/logo/DataPod_Logo.svg" alt="">
        </div>
        <div style="height: 2em;"></div>
        <ul id="sidebar-links" class="list-unstyled">
            <li class="icon-link" matRipple [matRippleCentered]="true" [matRippleUnbounded]="false">
                <i class="icon material-icons">home</i>
                <span class="col mat-body-2">Prakriti's Home</span>
            </li>
            <li class="icon-link" matRipple [matRippleCentered]="true" [matRippleUnbounded]="false">
                <i class="icon material-icons">settings_applications</i>
                <span class="col mat-body-2">Account Settings</span>
            </li>
        </ul>
    </div>
    <!--sidebar --- end -->
    <!--toolbar-->
    <dash-header id="header" [title]="title"  [userName]="userName" ></dash-header>
    <!--toolbar --- end -->
    <!--content-->
    <div id="content">

        <div id="introduction">
            <p class="mat-body-2">Connected Accounts ({{dataSource?dataSource.length:0}})</p>
            <p class="mat-body-1 med-black">Your online accounts protected by DataPod</p>
        </div>
        <!--table-->
        <div class="table-container"
            [ngClass]="{'empty-table':!dataSource, 'mat-elevation-z0':!dataSource, 'mat-elevation-z8':!!dataSource}">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="ACCOUNT">
                    <th mat-header-cell *matHeaderCellDef> ACCOUNT </th>
                    <td mat-cell *matCellDef="let element" class=" mat-small account-item">
                        <img src="{{element.account.img}}" alt="">
                        <span>{{element.account.name}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="DATA ITEMS">
                    <th mat-header-cell *matHeaderCellDef> DATA ITEMS </th>
                    <td mat-cell *matCellDef="let element" class=" mat-small text-wrap"> {{element.data_items}} </td>
                </ng-container>

                <ng-container matColumnDef="DISK SPACE USED">
                    <th mat-header-cell *matHeaderCellDef> DISK SPACE USED </th>
                    <td mat-cell *matCellDef="let element" class=" med-black mat-small">
                        {{element.disk_space_used}} </td>
                </ng-container>

                <ng-container matColumnDef="SYNC FREQUENCY">
                    <th mat-header-cell *matHeaderCellDef> SYNC FREQUENCY </th>
                    <td mat-cell *matCellDef="let element" class=" med-black mat-small">
                        {{element.sync_frequency}} </td>
                </ng-container>

                <ng-container matColumnDef="SYNC TYPE">
                    <th mat-header-cell *matHeaderCellDef> SYNC TYPE </th>
                    <td mat-cell *matCellDef="let element" class=" med-black mat-small"> {{element.sync_type}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="LAST SYNC">
                    <th mat-header-cell *matHeaderCellDef> LAST SYNC </th>
                    <td mat-cell *matCellDef="let element" class="med-black mat-small"> {{element.last_sync}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="NEXT SYNC">
                    <th mat-header-cell *matHeaderCellDef> NEXT SYNC </th>
                    <td mat-cell *matCellDef="let element" class=" med-black mat-small"> {{element.next_sync}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <!--table --- end -->

        <div *ngIf="!dataSource" style="text-align: center; color:#8BC34A; margin-top: 0.5rem;">
            <h1 class="mat-h1">Hi Prakriti, welcome to your brand new DataPod.</h1>
            <h2 class="mat-h2">Let's get started!</h2>
            <h2 class="mat-h2">Choose an online service from the list below</h2>
        </div>
        <!--accounts-->
        <div id="connect-web-account">
            <div class="bg-lig-black" style="padding: 1rem 2rem;">
                <p class="mat-body-2">Connect a Web Account</p>
                <p class="mat-body-1 med-black">
                    Choose an online service to connect and protect with DataPod
                </p>
                <mat-divider></mat-divider>
                <div class="row no-gutters account-items-container">
                    <div class="col-auto" *ngFor="let item of accountsSource">
                        <button mat-raised-button class="account-item custom-account-item">
                            <img src="{{item.img}}" alt="">
                            <span>{{item.name}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--accounts --- end -->
    </div>
    <!--content --- end -->
</div>