<!--Using dashboard template -->
<dash-prak-dashboard-parent [sidebarBgClass]="'bg-primary'">

    <!-- inserting header content-->
    <div dashboard-header>
        <dash-header-with-logo [links]="headerLinks"></dash-header-with-logo>
    </div>

    <!-- inserting sidebar content-->
    <div dashboard-sidebar-content>
        <dash-sidebar-avatar image="assets/imgs/user-img.jpg" name="Prakriti Malik"></dash-sidebar-avatar>
        <dash-sidebar-links [mainLink]="sidebarLinks[0]" [links]="sidebarLinks.slice(1)"></dash-sidebar-links>
    </div>

    <!-- inserting main content-->
    <ng-container dashboard-content>

        <!-- <mat-progress-spinner *ngIf="!loading" [mode]="'indeterminate'"></mat-progress-spinner> -->

        <div style="padding-top: 3rem;"></div>
        <!-- image container-->
        <div class="img-stack-container">
            <h2 class="mat-h2">June 2019</h2>
            <div class="img-stack">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
            </div>
        </div>
        <!-- image container-->
        <div class="img-stack-container">
            <h2 class="mat-h2">June 2019</h2>
            <div class="img-stack row no-gutters">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
                <img class="bg-lig-black" src="assets/imgs/sample_nature_01.jpg" alt="">
            </div>
        </div>
    </ng-container>

</dash-prak-dashboard-parent>