:host {
  height: 100vh;
  display: block;
}

.img-stack-container {
  padding: 1rem 3rem;
}
.img-stack-container h2 {
  margin: 0;
  margin-left: 2rem;
}
.img-stack {
  display: flex;
  flex-wrap: wrap;
}
.img-stack img {
  display: block;
  width: 12rem;
  height: 8rem;
  object-fit: cover;
  margin: 1rem 2rem;
}
