:host {
  display: block;
}

.header {
  background: transparent;
  height: auto;
}
.header #header-heading {
  padding: 0 1rem !important;
  flex: 1;
  overflow: hidden;
}
#header-user {
  position: relative;
}
#header-user a {
  position: absolute;
  bottom: -0.1rem;
  right: 50%;
}

.fill-space-center {
  /* fills the empty center space in the header */
  flex: 1 1 auto;
}
