<!--Using dashboard template -->
<dash-prak-dashboard-parent [sidebarBgClass]="'bg-primary'">
    <!-- inserting header content-->
    <div dashboard-header>
        <dash-header-with-logo [links]="headerLinks"></dash-header-with-logo>
    </div>

    <!-- inserting sidebar content-->
    <div dashboard-sidebar-content>
        <dash-sidebar-avatar image="assets/imgs/user-img.jpg" name="Prakriti Malik"></dash-sidebar-avatar>
        <dash-sidebar-links [mainLink]="sidebarLinks[0]" [links]="sidebarLinks.slice(1)"></dash-sidebar-links>
    </div>

    <!-- inserting main content-->
    <ng-container dashboard-content>

        <div style="padding-top: 3rem;"></div>
        <!-- block 1 -->
        <div id="available">
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/cart-blue.svg" alt="">
                <h2 class="mat-h2">Purchases</h2>
            </div>
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/location-pink.svg" alt="">
                <h2 class="mat-h2">Locations</h2>
            </div>
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/airplane-blue.svg" alt="">
                <h2 class="mat-h2">Flights</h2>
            </div>
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/camera-pink.svg" alt="">
                <h2 class="mat-h2">Photos</h2>
            </div>
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/mail.svg" alt="">
                <h2 class="mat-h2">Emails</h2>
            </div>
            <div class="bg-lig-black mat-elevation-z2" matRipple [matRippleCentered]="false"
                [matRippleUnbounded]="false">
                <img src="assets/icons/files-empty.svg" alt="">
                <h2 class="mat-h2">Attachments</h2>
            </div>
        </div>

        <!-- block 2 -->
        <div class="w-100" style="padding: 3rem;">
            <h2 class="mat-h2" style="font-weight: normal;">COMING SOON</h2>
            <div id="coming-soon" class="row no-gutters">

                <div class="bg-lig-black mat-elevation-z1">
                    <img src="assets/icons/bubbles4.svg" alt="">
                    <p class="mat-small">Chats</p>
                </div>
                <div class="bg-lig-black mat-elevation-z1">
                    <img src="assets/icons/note.svg" alt="">
                    <p class="mat-small">Notes</p>
                </div>
                <div class="bg-lig-black mat-elevation-z1">
                    <img src="assets/icons/address-book.svg" alt="">
                    <p class="mat-small">Contacts</p>
                </div>
                <div class="bg-lig-black mat-elevation-z1">
                    <img src="assets/icons/bookmark-o.svg" alt="">
                    <p class="mat-small">Bookmarks</p>
                </div>

            </div>
        </div>
    </ng-container>

</dash-prak-dashboard-parent>