<mat-nav-list>

  <h4>HomePage</h4>

  <a routerLink="/home" mat-list-item (click)="openLink($event)">
    <span mat-line>home-page</span>
  </a>

  <h4>Dashboard One</h4>

  <a routerLink="/dashboard/prakriti-home-zero-connected-accounts" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-home-zero-connected-accounts</span>
  </a>

  <a routerLink="/dashboard/prakriti-home-with-connected-accounts" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-home-with-connected-accounts</span>
  </a>

  <a routerLink="/dashboard/prakriti-connect-google-account" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-connect-google-account</span>
  </a>

  <a routerLink="/dashboard/prakriti-dashboard-google" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-dashboard-google</span>
  </a>

  <a routerLink="/dashboard/prakriti-dashboard-google-photos" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-dashboard-google-photos</span>
  </a>

  <a routerLink="/dashboard/prakriti-dashboard-google-purchases" mat-list-item (click)="openLink($event)">
    <span mat-line>prakriti-dashboard-google-purchases</span>
  </a>
  


</mat-nav-list>