<div class="bootstrap-wrapper">
    <div class="row custom-row-1 h-100 no-gutters">
        <mat-toolbar class="col-auto toolbar">
            <img class="logo" src="../../../assets/logo/2019-10-06_201041.jpg" alt="">
            <!-- This fills the remaining space of the current row -->
            <span class="fill-space-center"></span>
            <span>Already Registered?&nbsp;<a style="color: #0fb6dc;" href="/">LOGIN</a></span>
        </mat-toolbar>
        <div class="col welcome row no-gutters">
            <div>
                <h1 class="display-1">Welcome to DataPod</h1>
                <h2 class=" mat-h2 lig-black">A local, private and secure home for your online data</h2>
            </div>
        </div>
        <div class="col-auto features row no-gutters bg-lig-black">
            <div class="col-12 col-sm-4 block row no-gutters">
                <div class="col-12 col-md-auto">
                    <img style="margin-top: -0.5em;" src="../../../assets/icons/download.svg" alt="">
                </div>
                <p class="col"><b>Download</b> your online data from popular web services</p>
            </div>
            <div class="col-12 col-sm-4 block row no-gutters">
                <div class="col-12 col-md-auto">
                    <img style="margin-top: 1em;" src="../../../assets/icons/own.svg" alt="">
                </div>
                <p class="col"><b>Own</b> and protect this data on local storage</p>
            </div>
            <div class="col-12 col-sm-4 block row no-gutters">
                <div class="col-12 col-md-auto">
                    <img style="margin-top: 0.8em;" src="../../../assets/icons/explore.svg" alt="">
                </div>
                <p class="col"><b>Explore</b> this data to better understand your online life</p>
            </div>
        </div>
        <div class="col footer row no-gutters">
            <button mat-raised-button>Get Started - It's Free</button>
            <div>
                <p class="mat-small">
                    <b>100% Private & Secure</b>
                    <br>
                    Your online data is stored on your machine and stays there!
                </p>
            </div>
            <div>
                <a class="dark-black mat-small" href=""> <b>OUR PRIVACY MANIFASTO</b></a>
            </div>
        </div>
    </div>

</div>