:host {
  display: block;
}

.header {
  background: transparent;
  height: 100%;
}
.header #header-heading {
  padding: 0 1rem !important;
  flex: 1;
  overflow: hidden;
}
.header .logo {
  height: 1.7rem;
  padding: 0 2rem;
}

:host /deep/ [header-links] li {
  display: inline-block;
  margin: 0;
  margin-right: 2rem;
  font-weight: normal;
  position: relative;
}
:host /deep/ [header-links] li::before {
  content: ">";
  position: absolute;
  font-size: 2rem;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
:host /deep/ [header-links] :first-child::before {
  content: "";
}
:host /deep/ [header-links] li img {
  vertical-align: unset;
  position: relative;
  margin-right: 0.5rem;
  height: 1.7rem;
  top: 0.4rem;
}
