:host {
  height: 100vh;
  display: block;
}

:host /deep/ mat-horizontal-stepper {
  margin: 0rem auto;
  padding: 2rem;
  max-width: 100%;
  max-width: 50rem;
}
:host /deep/ .mat-horizontal-content-container {
  padding: 0 !important;
}

:host /deep/ .mat-step-header .mat-step-icon-selected,
:host /deep/ .mat-step-header .mat-step-icon-state-done {
  background-color: #39c1cc !important;
}

:host /deep/ .mat-progress-bar-fill::after {
  background-color: #39c1cc;
}

.stepper-content {
  padding: 2rem 3rem;
  border: 1px solid #d2d2d2;
}

.edit-bar {
  margin: -0.5rem 0;
}

#central-container {
  width: max-content;
  margin: auto;
  text-align: left;
}
#central-container .check-bar {
  margin: 1rem 0;
  display: flex;
}
#central-container .check-bar mat-checkbox {
  margin: 0 1rem;
}

.edit-bar {
  display: flex;
  align-items: center;
}
.edit-bar > * {
  font-size: 0.8rem !important;
}
.edit-bar span {
  margin-right: 1rem;
  font-weight: bold;
}
.edit-bar button {
  text-transform: uppercase;
  color: #39c1cc;
  font-weight: bold;
}
.edit-bar mat-form-field {
  flex: 1;
}
.edit-bar mat-form-field .mat-input-element:disabled {
  font-weight: bold;
}
