:host {
  height: 100vh;
  display: block;
}


#inf-block {
  margin: 0rem 4rem;
  padding: 1rem;
  overflow: hidden;
  padding-bottom: 0;
}

table {
  border-collapse: collapse;
  width: max-content;
}

td,
th {
  text-align: left;
  padding: 0.3rem 1rem;
}

#blocks {
  width: 100%;
  padding: 3rem;
  align-items: flex-start;
  flex-wrap: wrap;
}
#blocks > div {
  margin: 1rem;
  min-width: 22rem;
  padding: 1rem;
}

#blocks > div > h2 > img {
  vertical-align: text-bottom;
  width: 1.5rem;
  margin-right: 0.5rem;
  filter: invert(0.3);
}

#blocks #find-repo-btn {
  font-weight: normal;
  padding: 0 2rem;
}

#blocks #show-all-repos {
  width: 100%;
}

#blocks table {
  margin: 1rem 0rem;
  width: 100%;
}

#blocks table tr .repo-name {
  font-weight: 600 !important;
  text-decoration: underline;
}