/* You can add global styles to this file, and also import other style files */

/* toplevel css ********************************************/

:root {
  --custom-scrollbar-width: 0.4em;
  --custom-scrollbar-thumb-bg: grey;
  --custom-scrollbar-thumb-bg-light:#808080cc;
  --custom-scrollbar-thumb-radius: 10px;
  user-select: none; /* Non-prefixed version supported by Chrome, Opera and Firefox */
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
    box-sizing: border-box;
}
/* other */
p {
  margin: 0.6rem 0;
}
button {
  border-radius: 0;
}
/* 
  this class is a necc. wrapper for using bootstrap flex/grid classes.
  It is initially inherited from 
    node_modules/bootstrap-grid-only-css/dist/css/bootstrap-grid.min.css
*/
.bootstrap-wrapper {
  width: 100%;
  height: 100%;
}
/* missing bootstrap classes */
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}
.vw-100 {
  height: 100vw;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.text-wrap {
  white-space: normal!important;
}
.text-nowrap {
  white-space: nowrap!important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-break {
  word-break: break-word!important;
  overflow-wrap: break-word!important;
}
.text-decoration-none {
  text-decoration: none !important
}
/* customizing angular-material font class */
.mat-small, .mat-caption {
  font: 400 12px/20px Roboto, "Helvetica Neue", sans-serif !important;
}
.mat-body-2 {
  font: 500 14px/24px Roboto, "Helvetica Neue", sans-serif !important;
}

/* extra css for scrollbar (only for chromium engine) **************************************** */

/* width and height of horizontal and vertical scrollbars */
::-webkit-scrollbar {
  width: var(--custom-scrollbar-width);
  height: var(--custom-scrollbar-width);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar-thumb-bg-light);
  border-radius: var(--custom-scrollbar-thumb-radius);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-scrollbar-thumb-bg);
}

/* general custom css related to application *****************************/

/* foreground colors */
.lig-black {
  color: #b7b7b7 !important;
}
.med-black {
  color: #757575 !important;
}
.dark-black {
  color: #545454 !important;
}
body {
  color: #545454;
}
.white {
  color: white !important;
}
.black {
  color: black !important;
}
/* background colors */
.bg-lig-black {
  background: #eceaea !important;
}
.bg-purple {
  background: #2D4F89 !important;
}
.bg-green {
  color: white;
  opacity: 0.8;
  background: #21a521;
}
.bg-lig-blue {
  background-color: #39c1cc !important;
}
/* 
 this css, although not so important can be used to show icon/img with text as:
  icon then text in row. --> class=".icon-link"
  text then icon in row. --> class=".icon-link .icon-link-rev"
*/

.icon-link { /* the icon link class makes icon/image with text using flexbox*/
  display: flex;
  align-items: center;
  padding: 0.4em;
}
.icon-link .icon {
  font-size: 2rem;
  margin-right: 0.5rem;

  /*in case of image */
  width: 2rem;
  height: 2rem;
  /* border-radius: 50%;
  object-fit: cover; */
}
.icon-link span {
  line-height: 1rem;
}

.icon-link-rev .icon {
  margin-right: 0;
}
.icon-link-rev span {
  order: -1;
  line-height: 1rem;
  margin-right: 0.5rem;
}

/*  logo  */
.logo {
  height: 2rem;
}
