
/* importing theme*/
@import "./sass/theme";
/* importing custom sass */
@import "./sass/animations";
@import "./sass/variables";

/* importing global app-based sass */
@import "./sass/global-sass/sidebar.scss";

/* ************ body, root, html, * etc over here ********** */
:root {
  --custom-scrollbar-width: 0.4em;
  --custom-scrollbar-thumb-bg: grey;
  --custom-scrollbar-thumb-bg-light: #808080cc;
  --custom-scrollbar-thumb-radius: 10px;
}
html,
body {
  height: 100vh;
}
body {
  margin: 0;
  font-family: $font-family;
  background: white;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
}
/************************************************/

/* customizing angular-material font class ************/
.mat-small,
.mat-caption {
  font: 600 12px/20px $font-family !important;
}
.mat-body-2 {
  font: 500 14px/24px $font-family !important;
}
/******************/

/* 
  this class is a necc. wrapper for using bootstrap flex/grid classes.
  It is initially inherited from 
    node_modules/bootstrap-grid-only-css/dist/css/bootstrap-grid.min.css
*/
.bootstrap-wrapper {
  width: 100%;
  height: 100%;
}

/* missing bootstrap classes ******************************* */
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}
.vw-100 {
  height: 100vw;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.text-wrap {
  white-space: normal !important;
}
.text-nowrap {
  white-space: nowrap !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-break {
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.text-decoration-none {
  text-decoration: none !important;
}
/***************************************************/

/* native html elements *************** */
p {
  margin: 0.6rem 0;
}
/***************************************************/

/**** others **********/
.white {
  color: white !important;
}
.black {
  color: black !important;
}
.lig-blue {
  color: $color-lig-blue !important;
}
.bg-lig-black {
  background: #f7f5f5 !important;
}
.bg-lig-blue {
  background-color:$color-lig-blue !important;
  color: white !important;
}

/* 
 this css, although not so important can be used to show icon/img with text as:
  icon then text in row. --> class=".icon-link"
  text then icon in row. --> class=".icon-link .icon-link-rev"
*/

.icon-link {
  /* the icon link class makes icon/image with text using flexbox*/
  display: flex;
  align-items: center;
  padding: 0.4em;
}
.icon-link .icon {
  font-size: 2rem;
  margin-right: 0.5rem;

  /*in case of image */
  width: 2rem;
  height: 2rem;
  /* border-radius: 50%;
  object-fit: cover; */
}
.icon-link span {
  line-height: 1rem;
}

.icon-link-rev .icon {
  margin-right: 0;
}
.icon-link-rev span {
  order: -1;
  line-height: 1rem;
  margin-right: 0.5rem;
}

/*  logo  */
.logo {
  height: 2rem;
}

/* 
  this class is used to allow table cells to truncate if there text overflows
  Usage:
    <table style="width:100%">
    	<tr>
    		<td class="ellipsis_cell">
    			<div><span>This cells has more content</span></div>
    		</td>
    		<td class="ellipsis_cell">
    			<div><span>This cells has more content</span></div>
    		</td>
    	</tr>
    </table>
*/

.truncated-table td,
th {
  max-width: 0;
}
.truncated-table .truncated-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 0;
}

/************************************************/

/* progress bar at the top */
.custom-material-progress {
  z-index: $z-router-material-progress;
  position: fixed;
  top: 0;
  transition: opacity 1s;
}

/* 
  make router-outlet transition animation 
  Note: its not an angular animation and is applied globally to all <router-outlet>'s
*/
router-outlet + *{
  display: block;
  @include browser-based-property(animation, fadeInFromNone 0.5s ease-out);
}
// router-outlet[parent] + *{
//   display: block;
//   @include browser-based-property(animation, slideInFromLeft 0.5s ease-out);
// }

// /* 
//   show network status: online/offline
// */
// .network-status-container {
//   background: $primary-alpha;
//   opacity: 0;
//   transition: opacity 0.5s;
//   z-index: $z-router-material-progress - 10;
//   display: none;
// }

/** extra css for scrollbar (only for chromium engine) *****************/

/* width and height of horizontal and vertical scrollbars */
::-webkit-scrollbar {
  width: var(--custom-scrollbar-width);
  height: var(--custom-scrollbar-width);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--custom-scrollbar-thumb-bg-light);
  border-radius: var(--custom-scrollbar-thumb-radius);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--custom-scrollbar-thumb-bg);
}

#mini-btn-router {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 20;
}

/***************************************************/