<div class="bootstrap-wrapper">
    <mat-toolbar class="toolbar">
        <img class="logo" src="assets/logo/DataPod_Logo.svg" alt="">
    </mat-toolbar>
    <div class="row custom-row-1 h-100 no-gutters">
        <div class="col-auto welcome row no-gutters">
            <div>
                <h1 class="display-1">DataPod</h1>
                <h2 class="mat-h2 med-black">A private and secure home for your online data</h2>
            </div>
        </div>
        <div class="col-auto form-container bg-lig-black">
            <form [formGroup]="form">
                <!--userName-->
                <mat-form-field>
                    <input matInput placeholder="Username" formControlName="userName" [errorStateMatcher]="matcher">
                </mat-form-field>
                <div class="custom-error" *ngIf="userName.hasError('required') && (userName.dirty || userName.touched)">
                    Username is <strong>required</strong>
                </div>
                <!--password-->
                <mat-form-field>
                    <input matInput type="password" placeholder="Password" formControlName="psw"
                        [errorStateMatcher]="matcher">
                </mat-form-field>
                <div class="custom-error" *ngIf="psw.hasError('required') && (psw.dirty || psw.touched)">
                    Password is required
                </div>
                <!--button-->
                <!-- <button type="submit"> if used should be used on one button only.-->
                <button class="bg-green" mat-raised-button>login</button>
                <!--text-->
                <div class="mat-body-2" style="text-align: center;">
                    <span>Not registered? </span>
                    <a [routerLink]="'/sign-in'" style="color: #2d4f89;font-weight: bold;">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>